.today{
  box-sizing: border-box;

  margin: 46px 0 0 617px;
  width: 277px;
  height: 79px;

  background: #FFFFFF;
  border-bottom: 1px solid #000000;
}
.news{
  position: absolute;
  width: 268px;
  height: 49px;
  left: 630px;
  top: 22px;

  font-family:initial;
  font-style: normal;
  font-weight: 200;
  font-size: 46.08px;
  line-height: 56px;

  color: #000000;
}
.whether{
  
}